<!DOCTYPE html>
<html>

  <head>
    <title>Form</title>
    <h1>Form</h1>
  </head>

  <body>
    <p>
      {{ msg }}
    </p>

    <p>
      Please select your schedule preferrences below for the upcoming school year.
    </p>

    <form method="POST" action="/input">
      Course Preferences:<br>
      1st: <input type="text" placeholder="Course 1" name="course1"><br>
      2nd: <input type="text" placeholder="Course 2" name="course2"><br>
      3rd: <input type="text" placeholder="Course 3" name="course3"><br><br>

      Time Schedule Preference (select one):<br>
      <input type="radio" name="period" value="option1">1 - 9 (8:00AM - 2:50PM)<br>
      <input type="radio" name="period" value="option2">2 - 10 (8:45AM - 3:35PM)<br><br>
      
      Room Preferences:<br>
      1st: <input type="text" placeholder="Room 1" name="room1"><br>
      2nd: <input type="text" placeholder="Room 2" name="room2"><br>
      3rd: <input type="text" placeholder="Room 3" name="room3"><br><br>

      Lunch Period Preference:<br>
      1st: <input type="text" placeholder="Period 1" name="pd1"><br>
      2nd: <input type="text" placeholder="Period 2" name="pd2"><br>
      3rd: <input type="text" placeholder="Period 3" name="pd3"><br><br>

      Please list your previous qualifications in the textbox below (including past courses and number of years taught):<br>
      <textarea rows="5" cols="50" name="quals">Enter qualifications here...
      </textarea>
      <br><br>

      
      <input type="submit" value="Submit">
    </form>

  </body>

</html>
