<!DOCTYPE html>
<html>
  
  <head>
    <title>Home</title>
  </head>
  
  <body>
    <h1>Stuyvesant Faculty Scheduling</h1>
    <br>
    {{ msg }}
    <br>
    {% if isLoggedIn %}
       {% if isAdmin %}
          <a href="/results">Results</a>
       {% else %}
          <a href="/form">Form</a>
       {% endif %}
       <br><br>
       <a href="/logout">Logout</a>
    {% else %}
       Please log in with your <b>stuy.edu</b> email address to continue:<br>
       <a href="/login">Log In</a>
    {% endif %}
  </body>
  
</html>
